body {
  display: flex;
  justify-content: space-around;
  max-width: 3200px;
  flex-wrap: wrap;
}
.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: orange;
}
.bg-black {
  background-color: black;
}
.bg-sky {
  background-color: skyblue;
}
.bg-brown {
  background-color: brown;
}
.bg-pink {
  background-color: pink;
}
.bg-tomato {
  background-color: tomato;
}
.bg-grey {
  background-color: lightgray;
}

.container {
  display: flex;
  border: 1px solid black;
  margin-bottom: 1rem;
  width: 600px;
  height: 600px;
}

/* Task 1 */

.task1 {
  flex-wrap: wrap;
}

.task1 .child {
  height: 200px;
}

.task1 .bigger {
  width: 400px;
}

.task1 .smaller {
  width: 200px;
}

/* Task 2 */

.task2 {
  flex-direction: column;
  flex-wrap: wrap;
}

.task2 .child {
  width: 200px;
}

.task2 .smaller {
  height: 200px;
}

.task2 .bigger {
  height: 400px;
}
/* task3 */
.task3 .bigger {
  width: 400px;
  height: 400px;
}
.task3 .smaller {
  height: 200px;
  width: 200px;
}
.task3 {
  flex-direction: row;
  flex-wrap: wrap;
}

.task3 .child2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: flex-end; */
  max-height: 400px;
}
.task3 .child3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: flex-start; */
}
/* Task4  */
.task4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
}
.task4 .smaller {
  flex-basis: 150px;
}
/* .task4 .bigger {
  flex-basis: 300px;
 
} */
.task4 .ch1 {
  display: flex;
  flex-direction: row;
  flex-basis: 150px;
  width: 600px;
  flex-wrap: wrap;
}
.task4 > .ch1 > div:nth-child(3),
.task4 > .ch1 > div:nth-child(1) {
  flex-grow: 2;
}
.task4 .ch2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
  height: 300px;
}
.task4 > .ch2 > .child {
  max-width: 150px;
  height: 150px;
}

.task4 > .ch02 .ch3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 450px;
  height: 300px;
  /* border: 2px solid rgb(0, 0, 0); */
}
.task4 .ch02 {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 300px;
}
.task4 .ch02 .ch3 div:first-child {
  width: 300px;
  height: 300px;
}
.task4 .ch02 .ch3 div:not(:first-child) {
  width: 150px;
  height: 150px;
}
.task4 .ch4 {
  height: 150px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}
.task4 > .ch4 > div:nth-child(3),
.task4 > .ch4 > div:nth-child(1) {
  flex-grow: 2;
}

/* Task5 */
.task5 .bigger {
  height: 200px;
  flex-basis: 200px;
}
.task5 .smaller {
  height: 100px;
  width: 100px;
}
.task5 {
  display: flex;
  max-width: 600px;
  max-height: 600px;
  flex-wrap: wrap;
  flex-direction: column;
}
.task5 .ch5-1,
.task5 .ch5-4 {
  width: 600px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 200px;
}
.task5 .ch5-4 div:first-child {
  flex-grow: 2;
}
.task5 .ch5-1 div:last-child {
  flex-grow: 2;
}
.task5 .ch5-2 {
  width: 400px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.task5 .ch5-2 div:first-child {
  width: 200px;
}
.task5 .ch5-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 200px;
  height: 200px;
}
/* Task6 */
.task6 {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  max-height: 600px;
  flex-direction: column;
}
/* .task6 .child{
  flex-basis: 200px;
} */
.ch6-1 {
  width: 600px;
  height: 300px;
  display: flex;
}
.task6 .bigger {
  width: 600px;
  height: 300px;
}
.task6 .smaller {
  height: 150px;
  flex-basis: 100px;
}
.task6 .mid {
  width: 200px;
  height: 300px;
}
.ch6-1-1 {
  width: 200px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
.ch6-3 {
  width: 400px;
  height: 300px;
  display: flex;
}
.task6 .ch6-1-1 div:last-child {
  flex-grow: 2;
}

/* Task7 */
.task7 .ch7-1,
.task7 .ch7-2 {
  width: 600px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.task7 .bigger {
  width: 450px;
  height: 300px;
}
.task7 .smaller {
  width: 150px;
  height: 150px;
}
.task7 {
  display: flex;
  flex-wrap: wrap;
}

/* Task8 */
.task8 .ch8-1 {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.task8 .bigger {
  width: 600px;
  height: 300px;
}
.task8 .smaller {
  width: 200px;
  height: 150px;
  display: flex;
}
.task8 .mid {
  width: 200px;
  height: 300px;
}
.task8 {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/* Task9 */
.task9 {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.task9 .smaller {
  flex-basis: 120px;
  height: 100px;
  width: 120px;
}
.task9 .mid {
  width: 240px;
  height: 200px;
  flex-basis: 240px;
}
.task9 .bigger {
  width: 360px;
  height: 300px;
}
.task9 .ch9-1 {
  width: 240px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}
.task9 .ch9-2 {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.task9 .ch9-3 {
  width: 360px;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.task9 .ch9-1 div:first-child {
  height: 300px;
}
.task9 .ch9-3 div:nth-last-child(1),
.task9 .ch9-3 div:nth-last-child(2) {
  /* height: 100px; */
  flex-basis: 100px;
}

/* Task 10 */
.task10 .bigger {
  width: 300px;
  height: 200px;
}
.task10 .mid {
  width: 200px;
  height: 200px;
}
.task10 .smaller {
  width: 100px;
  height: 100px;
}
.task10 .ch10-1,
.task10 .ch10-2,
.task10 .ch10-3 {
  width: 600px;
  height: 200px;
}
.task10 {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}
.task10 .ch10-1,
.task10 .ch10-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.task10 .ch10-2 {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
}

/* Task 11 */
.task11 {
  display: flex;
  flex-wrap: wrap;
}
.task11 .bigger {
  width: 600px;
  height: 480px;
}
.task11 .smaller {
  width: 120px;
  height: 120px;
}
/* Task 12 */
.task12 {
  display: flex;
  flex-wrap: wrap;
}
.task12 .mid {
  width: 20%;
}

/* Task 13 */
.task13 {
  display: flex;
  flex-wrap: wrap;
}
.task13 .mid {
  /* height: 20%; */
  width: 100%;
}
/* Task 14 */
.task14 {
  display: flex;
  flex-wrap: wrap;
}
.task14 .ch14 {
  width: 50%;
  height: 50%;
  display: flex;
}
.task14 .bigger {
  width: 100%;
}
.task14 .mid {
  width: 50%;
  height: 100%;
}
.task14 .smaller {
  width: 50%;
  height: 33.33%;
}
.ch14:nth-child(2),
.ch14:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.ch14:first-child {
  display: flex;
  flex-wrap: wrap;
}
.ch14:first-child .child:last-child {
  width: 100%;
}
/* Task 15 */
.task15 {
  display: flex;
  flex-wrap: wrap;
}
.task15 .ch15 {
  height: 25%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.task15 .mid {
  height: 100%;
  flex-basis: 150px;
  width: 150px;
}
.task15 .ch15:first-child > div,
.task15 .ch15:nth-child(3) > div {
  flex-grow: 2;
}

/* Task 16 */
.task16 {
  display: flex;
  flex-wrap: wrap;
}
.task16 .bigger {
  width: 100%;
  height: 200px;
}
.task16 .ch16 {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.task16 .smaller {
  width: 25%;
  height: 100px;
}
.task16 .mid {
  width: 25%;
  height: 200px;
}
/* Task 17 */
.task17 {
  display: flex;
  flex-wrap: wrap;
}
.task17 .bigger {
  width: 50%;
  height: 100%;
}
.task17 .ch17 {
  width: 50%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.task17 .smaller {
  width: 50%;
  height: 25%;
}
.task17 .mid {
  width: 100%;
  height: 25%;
}
/* Task 18 */
.task18 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.task18 .mid {
  width: 200px;
  height: 200px;
}
.task18 .bigger {
  width: 200px;
  height: 50%;
}

/* Task 19 */
.task19 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.task19 .bigger {
  width: 400px;
  height: 400px;
}
.task19 .smaller {
  width: 100px;
  height: 100px;
}
.task19 .mid {
  width: 200px;
  height: 200px;
}
.task19 .ch19-1 {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  flex-direction: column;
  height: 200px;
}
.task19 .ch19-2 {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 100%;
}
/* Task 20 */

.task20 {
  display: flex;
  flex-wrap: wrap;
}
.task20 .child {
  width: 25%;
}
